<div class="container position-sticky z-index-sticky top-0">
    <div class="row">
      <div class="col-12">
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg blur border-radius-lg top-0 z-index-3 shadow position-absolute mt-4 py-2 start-0 end-0 mx-4 dark" >
          <div class="container-fluid">
            <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 " href="/">
              <img src="/dash/img/logo-coralp.png" class="navbar-brand-img" alt="main_logo" id="view-logo">
            </a>
            <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon mt-2">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </span>
            </button>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 text-white" aria-current="page" href="/news/trend">
                    <i class="ni ni-world text-white me-1"></i>
                    Tendencia
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 text-white" href="/news/sport">
                    <i class="ni ni-trophy text-white me-1"></i>
                    Deporte
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 text-white" href="/news/healt">
                    <i class="ni ni-favourite-28 text-white me-1"></i>
                    Salud
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 text-white" href="/news/politics">
                    <i class="ni ni-istanbul text-white me-1"></i>
                    Política
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center me-2 text-white" href="/news/politics">
                    <i class="ni ni-bulb-61 text-white me-1"></i>
                    Publicidad
                  </a>
                </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="/signup" class="btn btn mb-0 me-2 btn-outline-danger btn-round "><i class="ni ni-fat-add x1"></i> Crear Contenido</a>
                </li>
              </ul>
              <ul class="navbar-nav d-lg-block d-none">
                <li class="nav-item">
                  <a href="/login" class="btn btn mb-0 me-1 btn-danger btn-round">Suscribete Aquí</a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- End Navbar -->
      </div>
    </div>
  </div>
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item">
                <div class="page-header min-vh-100" style="background-image: url('https://www.curiofeed.com/wp-content/uploads/2018/01/diferencia-internet-www.jpg');">
                  <span class="mask bg-gradient-dark" style="background-image: linear-gradient(269deg, #323a5400, #1a2035);"></span>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <a href="">
                        <h4 class="text-white mb-0 fadeIn1 fadeInBottom">dfdfdf</h4>
                        <h1 class="text-white fadeIn2 fadeInBottom">La importancia de contar con una página web de tu empresa</h1>
                        <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Cuando una institución cuenta con una página web eleva su prestigio, a la vez que permite que los clientes aumenten su nivel de confianza en el producto...</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item">
                <div class="page-header min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1543269865-cbf427effbad?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                  <span class="mask bg-gradient-dark" style="background-image: linear-gradient(269deg, #323a5400, #1a2035);"></span>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <a href="">
                        <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Our Team</h4>
                        <h1 class="text-white fadeIn2 fadeInBottom">Work with the best</h1>
                        <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">Free people make free choices. Free choices mean you get unequal outcomes. You can have freedom, or you can have equal outcomes. You can’t have both.</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="carousel-item active">
                <div class="page-header min-vh-100" style="background-image: url('https://images.unsplash.com/photo-1552793494-111afe03d0ca?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1920&amp;q=80');">
                  <span class="mask bg-gradient-dark" style="background-image: linear-gradient(269deg, #323a5400, #1a2035);"></span>
                  <div class="container">
                    <div class="row">
                      <div class="col-lg-6 my-auto">
                        <a href="">
                        <h4 class="text-white mb-0 fadeIn1 fadeInBottom">Office Places</h4>
                        <h1 class="text-white fadeIn2 fadeInBottom">Work from home</h1>
                        <p class="lead text-white opacity-8 fadeIn3 fadeInBottom">You’re spending time to save money when you should be spending money to save time.</p>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="min-vh-75 position-absolute w-100 top-0">
              <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </a>
              <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon position-absolute bottom-50" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </a>
            </div>
  </div>
  <div class="container-fluid py-4">
    <div class="row mt-4">
      {{#each invoice}}
        <div class="col-lg-4 py-2">
        <div class="card">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/img-1.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">{{ theme }}</span>
            <a href="javascript:;" class="card-title h5 d-block text-darker">
              {{ tittle }}
            </a>
            <p class="card-description mb-4">
              {{ context }}
            </p>
            <div class="author align-items-center">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/team-5.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3">
                <span>{{ author }}</span>
                <div class="stats">
                  <small>{{ posted }}</small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
                {{else}}
                

        <div class="col-lg-4 py-2">
        <div class="card">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/img-1.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="javascript:;" class="card-title h5 d-block text-darker">
              Shared Coworking
            </a>
            <p class="card-description mb-4">
              Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
            </p>
            <div class="author align-items-center">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/team-5.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small>Posted on 28 February</small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-2">
        <div class="card">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/img-1.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="javascript:;" class="card-title h5 d-block text-darker">
              Shared Coworking
            </a>
            <p class="card-description mb-4">
              Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
            </p>
            <div class="author align-items-center">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/team-5.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small>Posted on 28 February</small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-2">
        <div class="card">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/img-1.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="javascript:;" class="card-title h5 d-block text-darker">
              Shared Coworking
            </a>
            <p class="card-description mb-4">
              Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
            </p>
            <div class="author align-items-center">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/team-5.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small>Posted on 28 February</small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 py-2">
        <div class="card">
          <div class="card-header p-0 mx-3 mt-3 position-relative z-index-1">
            <a href="javascript:;" class="d-block">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/img-1.jpg" class="img-fluid border-radius-lg">
            </a>
          </div>

          <div class="card-body pt-2">
            <span class="text-gradient text-primary text-uppercase text-xs font-weight-bold my-2">House</span>
            <a href="javascript:;" class="card-title h5 d-block text-darker">
              Shared Coworking
            </a>
            <p class="card-description mb-4">
              Use border utilities to quickly style the border and border-radius of an element. Great for images, buttons.
            </p>
            <div class="author align-items-center">
              <img src="https://demos.creative-tim.com/test/argon-dashboard-pro/assets/img/team-5.jpg" alt="..." class="avatar shadow">
              <div class="name ps-3">
                <span>Mathew Glock</span>
                <div class="stats">
                  <small>Posted on 28 February</small>
                </div>
              </div>
              </div>
            </div>
          </div>
        </div>
                {{/each}} 
    </div>
  </div>

  <div class="container-fluid py-4 justify">
    <div class="row mt-1">
      <div class="col-lg-12">
        <div class="pagination-container position-relative">
      <ul class="pagination pagination-danger align-items-center">
        <li class="page-item">
          <a class="page-link" href="javascript:;" aria-label="Previous">
            <span aria-hidden="true"><i class="fa fa-angle-left" aria-hidden="true"></i></span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link active" href="javascript:;">1</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:;">2</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:;">3</a>
        </li>
        <li class="page-item ">
          <a class="page-link" href="javascript:;">4</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:;">5</a>
        </li>
        <li class="page-item">
          <a class="page-link" href="javascript:;" aria-label="Next">
            <span aria-hidden="true"><i class="fa fa-angle-right" aria-hidden="true"></i></span>
          </a>
        </li>
      </ul>
        </div>
      </div>
    </div>
  </div>
  
  
  {{>footer-a}}